body{
    background-color: rgb(77, 77, 124);
}

.title{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    margin-top: 50px; 
    word-spacing: 330px; 
}

/* the box containeing the container of the result*/
.resultbox{
    width: 350px;
    background-color:  rgb(34, 34, 91);;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%; 
    border-radius: 8px;
}

.resultbox , .calculator{
    display: inline-block;
}

.result{
    display: grid;
    text-align: right;
    font-size: 40px;
    color: aliceblue;
}
 

/*this is the large container in in the button container exists*/
.calculator{
    width: 400px;
    background-color: rgb(34, 34, 91);
    padding: 50px  30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 50 gray;
    margin-top: 50px;

}

/*this is the container for the bottons*/ 
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-top: 40px;
    
}

/* all  input elements inside buttons conainer of type "button" */
.buttons input[type="button"]{
    background-color: antiquewhite;
    padding: 10px ;
    border-radius: 8px;
    font-size: 20px;
   
}


.buttons input[type="button"]:hover{
    background-color: rgb(125, 104, 77);
    cursor: pointer;
    box-shadow: 0 8px 25px grey;
   
}

 #equal{
    background-color: brown;
    color: aliceblue;
    grid-column: span 2;
}

 #reset{
    background-color: rgb(65, 125, 190);
    color: aliceblue;
    grid-column: span 2;
}

#del{
    background-color: rgb(65, 125, 190);
    color: aliceblue;
}
